.projectsView {
   @include blured-background(25px);
   grid-column: 1 / span 12;
   grid-row: span 8;
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   .project_card {
      @include blured-background(10px);
      display: flex;
      text-align: center;
      width: 250px;
      height: 160px;

      &-img {
         box-sizing:border-box;
         margin: 10px auto;
         margin-bottom: 45px;
         border-radius: 5px;
      }
   }
}