@use "../../styles/mixin" as mixin;
@use "../../styles/variables" as var;

.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    textarea {
        @include mixin.blured-background(10px);
        width: 500px;
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-size: 16px;
        color: var.$contact-font-color;
        resize: none;
        border: none;
        &::placeholder {
            color: var.$contact-font-color;
        }
    }
    &-submit {
        @include mixin.blured-background(30px);
        width: 200px;
        padding: 10px;
        margin-bottom: 0px;
        box-sizing: border-box;
        font-size: 16px;
        color: var.$contact-font-color;
        border: none;
        cursor: pointer;
        &:hover {
            background: linear-gradient(45deg, var.$linear-color-1, var.$linear-color-2);
            background-clip: text;
            border: none;
            color: transparent;
            box-shadow: 5px -5px 25px 0px rgba(var.$linear-color-2, 1),
                        -10px 5px 25px 0px rgba(var.$linear-color-1, 1);
        }
    }
}