@use "../../styles/Variables" as var;

a {
   margin: 5px 5px;
   padding: 6px 14px;
   color: #ffffff;
   font-weight: 400;
   font-size: 15px;
   cursor: pointer;
   text-decoration: none;
   &.active {
      color: transparent;
      background: linear-gradient(45deg, var.$linear-color-1, var.$linear-color-2);
      background-clip: text;
      border-radius: 30px;
      box-shadow: 5px -5px 25px 0px var.$linear-color-2,
                  -10px 5px 25px 0px var.$linear-color-1;
   }
}