@use "./Variables" as var;

@mixin blured-background($border-radius) {
   background: var.$blured-background;
   backdrop-filter: blur(4px);
   border-radius: $border-radius;
}

@mixin absolute-center {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}