@use "./variables" as var;
@use "./mixin" as mixin;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family: Montserrat;
   
   // 
   // 
   section {
      height: calc(100% - 70px);
      width: 100%;
      min-height: 600px;
      margin: 0 auto 80px;
      max-width: 1600px;
      padding: 20px;
      @media (max-width: 991px) {
         padding: 20px 0;
      }
   }
   .App {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: var.$background-linear-gradient;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      overflow-y: auto;
      scrollbar-width: thin;
      z-index: -2;
      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         translate: -50% -55%;
         width: 75vh;
         height: 75vh;
         border-radius: 50%;
         box-shadow: -70px 60px 100px rgba($color: var.$linear-color-1, $alpha: 0.75),
            70px -60px 100px rgba($color: var.$linear-color-2, $alpha: 0.75),
            inset 30px -30px 70px rgba($color: var.$linear-color-1, $alpha: 0.75),
            inset -30px 30px 70px rgba($color: var.$linear-color-2, $alpha: 0.75);
         z-index: -2;
         animation: rotateShadow 20s infinite linear;
      }
      .transition_group {
         width: 100%;
         height: 100%;
         @media (max-width: 1480px) {
            padding: 0 20px;
         }
      }
   }
}