$linear-color-1: #900590;
$linear-color-2: #ff8000;
$h1-color-1: #ff4d00;
$h1-color-2: #ffffff;
$contact-font-color: #dfdfdf;
$background-linear-gradient: linear-gradient(45deg, #090020, #050520, #201530, #050520, #090020);
$blured-background:#ffffff30;