$linear-color-1: #900590;
$linear-color-2: #ff8000;
$contact-font-color: #dfdfdf;
$background-linear-gradient: linear-gradient(45deg, #090020, #050520, #201530, #050520, #090020);
$blured-background:#00000030;