* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Montserrat;
}
* a {
  text-decoration: none;
  color: #ffffff;
}
* .App {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/shaykh-hassan-Je2bpBhOOQc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
* .App::before {
  content: "";
  border: 10px solid transparent;
  border-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  z-index: 1;
}
* .App .App-content {
  margin: 10px;
  padding: 40px;
  border: 1px solid #fff;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}
* .App .App-content .section_div {
  position: relative;
  width: 100%;
  height: calc(100% - 88px);
  max-width: 1600px;
  margin: 0 auto;
}

.fade-enter {
  transform: translate(-200%);
}
.fade-enter-active {
  transform: translate(0);
  transition: transform 600ms;
}

.fade-exit {
  transform: translate(0);
}
.fade-exit-active {
  transform: translate(200%);
  transition: transform 900ms;
}

header {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
header nav {
  background-color: rgba(229, 229, 229, 0.35);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header nav a {
  margin: 5px 5px;
  padding: 10px 20px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
header nav a.active {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

.homepage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(229, 229, 229, 0.35);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.projets {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 130px calc(100% - 130px);
  grid-template-rows: 42vh 1vh 42vh;
}
.projets .projetsList {
  position: relative;
  background-color: rgba(229, 229, 229, 0.35);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 25px;
  margin-right: 10px;
  width: calc(100% - 10px);
  height: 100%;
  grid-row: span 3;
}
.projets .projetsList .topside {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 50px;
}
.projets .projetsList .botside {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 50px;
}
.projets .projetsOverview {
  background-color: rgba(229, 229, 229, 0.35);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1;
}
.projets .projetsDescription {
  background-color: rgba(229, 229, 229, 0.35);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 25px;
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 3;
}