@use '../../styles/Mixin' as mixin;
@use '../../styles/Variables' as var;

.homepage {
   @include mixin.absolute-center;
   height: 100%;
   width: 100%;
   &-intro {
      background: linear-gradient( #ffffff 25%, #ff0000 );
      background-clip: text;
      color: transparent;
      position: absolute;
      top: 50%;
      left: 0%;
      font-family: "Gloock";
      h1 {
         font-size: 4em;
         font-weight: 500;
         font-family: "Gloock";
      }
      h2 {
         font-size: 3em;
         font-weight: 400;
         font-family: "Gloock";  
      }
   }
   &-competences, .homepage-tools {
      @include mixin.blured-background(10px);
      width: 60%;
      height: 150px;
      position: absolute;
      bottom: 0;
      color: white;
      text-align: center;
      padding: 10px;
      h3 {
         font-weight: 500;
         margin-bottom: 20px;
         font-size: 1.5em;
      }
      &-content, .homepage-tools-content {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
               width: 40px;
               height: 40px;
               margin-bottom: 10px;
            }
            h4 {
               color: white;
               font-weight: 400;
            }
         }
      }
   }
   .homepage-tools {
      width: 35%;
      right: 0;
   }
}