.homepage {
   display: grid;
   grid-template-columns: repeat(12, auto);
   grid-template-rows: repeat(12, auto);
   &-intro {
      grid-row: 6;
      grid-column: 1;
   }
   &-link {
      grid-row: 10 / span 3;
      grid-column: 12;
   }
   &-competences {
      grid-row: 12;
      grid-column: span 7;
   }
   &-tools {
      grid-row: 12;
      grid-column: 9 / span 4;
   }
   @media (max-width:991px) {
      &-intro {
         grid-row: 8;
         grid-column: span 12;
      }
      &-link {
         grid-row: 10;
         grid-column: 12;
      }
      &-competences {
         grid-row: 11;
         grid-column: span 12;
      }
      &-tools {
         grid-row: 12;
         grid-column: span 12;
      }
   }
}