@use '../../styles/Mixin' as mixin;

.projectsView {
   @include mixin.blured-background(25px);
   grid-column: 1 / span 12;
   grid-row: span 8;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   .project_card {
      width: auto;
      height: 15dvh;
      backdrop-filter: blur(4px);
      border-radius: 5px;
      cursor: pointer;
      margin: 1%;
      max-width: 30%;
      overflow: hidden;
      box-shadow:  0px 0px 20px 5px rgba(#000000, 0.5);
      &.active {
         box-shadow: 0px 0px 40px 10px rgba(#ffffff, 1);
         height: 17dvh;
         &::before {
            display: none;
         }
         p {
            display: none;
         }
         .stack-icon {
            display: none;
         }
      }
      &-img {
         width: auto;
         max-height: 100%;
         border-radius: 5px;
      }
      &-title {
         position: absolute;
         top: 20%;
         left: 50%;
         width: 100%;
         transform: translate(-50%, -50%);
         text-align: center;
         color: #ffffff; 
         text-shadow: 0px 0px 10px rgba(#000000, 1);
         font-size: 18px;
         font-weight: 700;
         z-index: 2;
      }
      &-stacks {
         position: absolute;
         display: flex;
         gap: 10px;
         top: 60%; 
         left: 50%;
         transform: translateX(-50%);
         z-index: 2;
         .stack-icon {
            height: 35px;
            filter: brightness(2) sepia(1) saturate(10000%) hue-rotate(300deg);
         }
      }
      &::before {
         content: "";
         @include mixin.absolute-center;
         display: block;
         width: 101%;
         height: 101%;
         background-color: #000000;
         opacity: 0.5;  
         border-radius: 5px;
         z-index: 1;
      }
      &-title {
         margin-top: 20px;
         color: rgb(255, 255, 255);
      }
   }

   @media screen and (max-width: 1060px) {
      .project_card {
         height: 16dvh;
      }
   }
}