@use "../../styles/variables" as var;

.homepage {
   &-intro {
      background: linear-gradient(to top, var.$h1-color-1, var.$h1-color-2);;
      background-clip: text;
      color: transparent;
      font-family: "Gloock";
      h1 {
         font-size: 4em;
         font-weight: 500;
         font-family: "Gloock";
      }
      h2 {
         font-size: 3em;
         font-weight: 400;
         font-family: "Gloock";  
      }
   }
}