@use "../../styles/mixin" as mixin;
@use "../../styles/variables" as var;

input {
    @include mixin.blured-background(10px);
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    color: var.$contact-font-color;
    border: none;
    &::placeholder {
        color: var.$contact-font-color;
    }
}