@use "../../styles/Mixin" as mixin;
.project_card {
   display: flex;
   flex-direction: column;
   @include mixin.blured-background(10px);
   padding: 15px;
   overflow: hidden;
   text-align: center;
   position: relative;
   max-height: 100%;
   max-width: 40em;
   margin: 10% auto;
   &-img {
      max-height: 35%;
      width: 100%;
      border-radius: 10px;
   }
   &-title {
      text-align: center;
      color: #ffffff;
      text-shadow: 0px 0px 10px rgba(#000000, 1);
      font-size: 1.3em;
      font-weight: 700;
      z-index: 2;
      margin-top: 10px;
   }
   &-subtitle {
      color: #ffffff;
      font-size: 0.9em;
   }
   &-desc {
      color: #ffffff;
      margin-top: 20px;
      text-align: center;
      font-size: 1em;
      height: 200px;
   }
   &-link {
      position: relative;
      left: 40%;
   }
   &-stacks {
      display: flex;
      justify-content: center;
      position: relative;
      top: 1%;
      gap: 10px;
      z-index: 2;
      .stack-icon {
         padding: 5px;
         background-color: #ffffff10;
         color: #ffffff;
         border-radius: 10px;
      }
   }
   @media screen and (max-width: 1060px) {
      .project_card {
         height: 16dvh;
      }
   }
}
