@use "../../styles/Mixin" as mixin;
@use "../../styles/variables" as var;

.projects_card {
   display: flex;
   flex-direction: column;
   @include mixin.blured-background(10px);
   padding: 10px 15px;
   text-align: center;
   max-height: 90%;
   max-width: 35%;
   margin: 0 auto;
   margin-bottom: 5%;
   z-index: 2;
   color: var.$projects_card-font-color;
   overflow: hidden;
   &-img {
      max-height: 35%;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
   }
   &-title {
      font-size: 1.3em;
      margin-top: 10px;
   }
   &-subtitle {
      font-size: 0.85em;
   }
   &-desc {
      margin-top: 20px;
      font-size: 1em;
      height: 200px;
   }
   &-link {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
      font-size: 1em;
      color: var.$projects_card-font-color;
   }
   &-stacks {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      font-size: 0.9em;
      &-item {
         padding: 4px 8px;
         background-color: #ffffff10;
         border-radius: 15px;
      }
   }
   &-prev, &-next {
      margin: 0;
      height: 100%;
      width: 100%;
      min-width: 253px;
      backdrop-filter: blur(1px);
      opacity: 0.75;
      padding: 10px;
      cursor: pointer;
      a {
         display: none;
      }
   }
   @media (max-width: 1060px) {
      &-title {
         font-size: 1.1em;
      }
      &-subtitle {
         font-size: 0.75em
      }
      &-desc {
         height: 100%;
         overflow: auto;
         scrollbar-width: thin;
      }
      &-link {
         font-size: 0.8em;
         margin-bottom: 5px;
      }
      &-stacks {
         font-size: 0.8em;
      }
      &-prev, &-next {
         min-width: 200px;
         max-height: 400px;
         .projects_card-desc {
            display: none;
         }
      }
   }
   @media (max-width: 768px) {
      padding: 5px;
      max-width: none;
      background: #00000060;
      &-desc {
         height: 80%;
      }
      &-current {
         max-height: 93%;
         margin: 0 -30px;
         margin-bottom: 6%;
      }
      &-img {
         max-height: none;
      }
      &-prev, &-next {
         min-width: 150px  ;
         max-height: 300px;
      }
   }
   @media (max-width: 576px) {
      &-current {
         margin: 0 -50px;
         margin-bottom: 6%;
      }
      &-prev, &-next {
         min-width: 100px;
         max-height: 250px ;
      }
   }
}
