@use "../../styles/mixin" as mixin ;

.projects-stacks {
   @include mixin.blured-background(25px);
   padding: 20px;
   // 
   &-active {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      &-icon {
         max-height: 80px;
         max-width: 80px;
         grid-column: span 4;
      }
   }
}