@use "../../styles/mixin" as mixin ;

.projects-stacks {
   @include mixin.blured-background(25px);
   padding: 30px;
   // 
   &-active {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10px;
      &-icon {
         max-height: 80px;
         max-width: 80px;
         grid-column: span 1;
      }
   }
   @media (max-width: 1060px) {
      padding: 15px 30px;
   }
}