@use "../../styles/mixin" as mixin;

.homepage-competences {
   @include mixin.blured-background(10px);
   color: white;
   text-align: center;
   padding: 10px;
   h3 {
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 1.5em;
   }
   &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      article {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: max-content;
         img {
            width: 3em;
            margin-bottom: 10px;
         }
         h4 {
            color: white;
            font-weight: 400;
         }
      }
   }
}