.projects {
   display: flex;
   align-items: center;
   position: relative;
   z-index: 0;
   &_btn {
      background-color: transparent;
      border-radius: 10px;
      border: none;
      z-index: -1;
      width: min-content;
      max-width: 253px;
      position: relative;
      &-prev {
         right: -20%;
         bottom: 5%;
         max-height: 75%;
      }
      &-next {
         left: -20%;
         bottom: 5%;
         max-height: 75%;
      }
   }
   &-dots {
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: -5px;
      display: flex;
      justify-content: center;
      .dot {
         margin-inline: 5px;
	      width: 15px;
	      height: 15px;
	      border: 2px solid #ffffff;
	      border-radius: 100%;
	      cursor: pointer;
      }
      .active {
         background-color: #ffffff;
      }
   }
   @media (min-height: 1200px) {
      &-dots {
         bottom: 80px;
      }
      &_btn {
         &-prev {
            bottom: 0;
         }
         &-next {
            bottom: 0;
         }
      }
      
   }
   @media (max-width: 1060px) {
      &_btn {
         &-prev {
            right: -10%;
         }
         &-next {
            left: -10%;
         }
      }
   }
   @media (max-width: 768px) {
      &_btn {
         &-prev {
            right: 0%;
         }
         &-next {
            left: 0%;
         }
      }
   }
   @media (max-width: 576px) {
      
   }
}